<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings> 
    <!--<add key="kQL.orm.connstr" value="server=MBENBEN-PC\MRK;database=db_demo;uid=sa;pwd=sa;"/> 
    <add key="Namespace" value="kQL.orm.demo.models"/>
    <add key="ModelsOutputs" value="D:\MyProduct\k.dbtool\kQL.orm\kQL.orm.demo\models"/>-->



    <add key="kQL.orm.connstr" value="server=MBENBEN-PC\MRK;database=db_demo_remote;uid=sa;pwd=sa;"/>
    <add key="Namespace" value="kQL.orm.demo.remotemodels"/>
    <add key="ModelsOutputs" value="D:\MyProduct\k.dbtool\kQL.orm\kQL.orm.demo\remotemodels"/>


  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
