<?xml version="1.0" encoding="utf-8"?>
<configuration>


  <appSettings>
    <add key="kQL.orm.connstr" value="server=MBENBEN-PC\MRK;database=db_demo;uid=sa;pwd=sa;"/> 
  </appSettings>


  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
